
table {
  width: 90%;
  position: relative;
  left: 55px;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
  
}


thead {
  background-color: #3498db;
  color: #fff;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #3498db;
}



th, td {
  width: 20%;
}

table, th, td{
  
  border: 2px solid white;
  
  
}
body{
  background: rgb(250,170,228);
  background: linear-gradient(45deg, rgba(250,170,228,1) 0%, rgba(150,219,49,0.6558998599439776) 100%);
  font-family: 'Times New Roman', Times, serif;
}